#ignore the raw and processed data folders by default
data/raw
data/processed
data/results

#ignore the project management folder
management/

#ignore the dissemination folder for presentations, manuscripts etc.
dissemination/ 
